body {
  font-family: 'Quicksand', sans-serif;
  margin: 3em;
  text-align: center;
}

h1 {
  font-style: italic;
  color: #6FABA4;
  text-align: center;
}

a-scene {
  height: 500px;
  width: 350px;
}
