h1 {
  font-style: italic;
  color: #6FABA4;
  text-align: center;
  margin: 25px 50px;
}

p {
  font-style: italic;
  color: #6FABA4;
  text-align: center;
  margin: 25px 50px;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size:18px;
  margin: 5em;
  text-align: center;
  margin: 25px 50px;
}

a-scene {
  height: 500px;
  width: 350px;
  align-items: center;
}
